#img-gallery{
  margin:250px
}

ul{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

  /* display: flex; */
  justify-content: center;
  align-items: center;

}

#main-image-container {
  position: relative;
  height: 500px;
}

#main-image{
  /* width: 400px;
  height: 538px; */
  height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  /* width: 100%; */
}

#overlay img{
  width: 50%;
  height: 50%;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
}

#dumbthing{
  height: 150px;
  width:150px;
  background-color: green;
  position: absolute;
}

#carousel{
  border:2px solid green;
  width: 100px;
  position: absolute;
  z-index: 2;
}

#carousel img {
  height: 50px
}

#zoom-img {
  width: 400px;
  height: 538px;
  object-fit: contain;
    /* background-image: url('https://images.unsplash.com/photo-1552902865-b72c031ac5ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=300&q=80'); */
  background-position: center;
  background-size: cover;
  /* background-size: cover; */
}



/* /////////////////MOCKUP.CSS////////////////////// */
/* /////////////////MOCKUP.CSS////////////////////// */
/* /////////////////MOCKUP.CSS////////////////////// */



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  max-width: 90vw;
  max-width: ;
  /* justify-content: center */
}
#main {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}
#main > article {
  flex: 1;
  order: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 30vw;
}
#main > nav {
  background: #D7E8D4;
  order: 3;
}
#main > aside {
  background: beige;
  order: 2;
}
header, footer {
  background: yellowgreen;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}


/* /////////////////////////// */




body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;
  max-width: 90vw;
  max-width: ;
  /* justify-content: center */
}
#main {
  display: flex;
  flex: 1;
  /* justify-content: center; */
}
#main > article {
  flex: 1;
  order: 1;
}
#main > aside {
  flex: 0 0 30vw;
}

#main > aside {
  background: beige;
  order: 2;
}
header, footer {
  background: yellowgreen;
  height: 20vh;
}
header, footer, article, aside {
  padding: 1em;
}

#carousel li{
background-color: rgb(173,216,230,.4);
margin: 2px
}

#carousel img{
  display: block;
  margin:auto;
}

/*////////////// style selector////////////// */

#style-container{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */

}

.style-preview-thumbnail{
  /* margin: 2px; */
  flex: 1 0 21%;
  background-color: rgb(191, 185, 140);
  border:2px solid red;
  display: flex;
    justify-content: center;

}

.style-preview-thumbnail img{
  margin:auto;
  height: 50px;
}