* {
  outline: 1px solid red;
}
.ratings_and_reviews {
  display: flex;
  // flex-direction: row;

  &__ratings-left {
    display: flex;
    flex-direction: column;

    width: 35%;
    background: #c5c6c7;

    .ratings_left {
      display: flex;
      flex-direction: column;
    }
    .stars {
      display: flex;
      // justify-content: space-around;
      align-items: center;
      &__underlay--stars-container {
        display: flex;
        height: 23px;
        &_stars__image {
          width: 20px;
        }
      }
    }

    .average__container {
      width: 25%;
      &--average_text {
        font-size: 36px;
        font-weight: 900;
      }
    }

    .stars__container {
      width: 75%;
    }

    .bar {
      height: 18px;
      &__line {
        display: flex;
        align-items: baseline;
      &__line--underline {
        display: flex;
        align-items: center;
      }
      }
    }

  }


  &__reviews-right {
    display: flex;
    flex-direction: column;

    width: 65%;
    background: #45a29e;

    .review {
      // display: flex;
      // flex-direction: column;
      border-bottom: 1px solid #030a0a;

      &__top {
        display: flex;
        justify-content: space-between;

      }
    }
  }

}