*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ratings_and_reviews {
  display: flex;
  height: 495px;

  &__ratings-left {
    display: flex;
    flex-direction: column;
    border: ridge 5px grey;
    padding: 9px;
    margin-right: 5px;
    width: 35%;
    background: #ffffff;

    .ratings_left {
      display: flex;
      flex-direction: column;



      &__average {
        display: flex;
      }
    }
    .stars {
      display: flex;
      align-items: center;
      &__underlay--stars-container {
        display: flex;
        height: 23px;
        &_stars__image {
          width: 20px;
        }
      }

    }
    .average__container {
      width: 25%;
      &--average_text {
        font-size: 36px;
        font-weight: 900;
      }
    }
    .stars__container {
      width: 75%;
    }

    .bar {
      height: 18px;
      &__line {
        display: flex;
        align-items: baseline;
      &__line--underline {
        display: flex;
        align-items: center;
      }
      }
    }

    .loading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }



  &__reviews-right {
    display: flex;
    flex-direction: column;

    width: 65%;
    background: #ffffff;
    border: ridge 5px grey;
    padding: 9px;
    margin-left: 5px;

    .review {
      border-bottom: 1px solid #030a0a;

      &__top {
        display: flex;
        justify-content: space-between;

      }
    }
    .review__middle {
      &--summary {
        word-wrap: break-word;
      }
      &--body {
        word-wrap: break-word;
      }
    }
  }


  .star {
    display: flex;
    align-items: center;
    &__underlay--star-container {
      display: flex;
      height: 23px;
      &_star__image {
        width: 20px;
      }
    }
  }
}


.hide-review-form {
 display: none;
}
.show-review-form {
 display: block;
}
.form-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  width: 54%;
  height: 68vh;
  box-shadow: 0 0 21px 9px #030a0a;
}
.reviews_right {
  position: absolute;
  height: 500px;
}
.review-form {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  left: 50%;
  bottom: 300px;
  transform: translate(-50%, 0%);
  background: #030a0a;
  // color: #c5c6c7;
  width: 523px;
  height: 395px;
}

.review-form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  background: #ffffff;
  opacity: 1;
  color: #030a0a;
  width: 100%;
  box-shadow: 0 0 23px 4px #030a0a;
  padding: 15px;
}
.review-form__rating {
  display: flex;
  justify-content: space-between;
}
.review-form__recommend {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 0 auto;
}