html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #0b0c10;
}
.header {
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;

  position: fixed;
  top: 0;

  border-bottom: 2px #1f2833 solid;

  background: #c5c6c7;
  color: #0b0c10;

  &__left-nav {
    
  }
}

// THE DIV IN OUR App COMPONENT
// WHERE EVERYTHING ELSE LIVES
.entry-point {
  // padding: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  background: #c5c6c7;

  .overview {
    height: 72px;
    background: #45a29e;
  }

  .related-products {
    height: min-content;
    background: #1f2833;
    color: #c5c6c7;
  }


  .ratings_and_reviews {
    display: flex;

    &__ratings-left {
      flex-basis: 35%;
    background: #c5c6c7;
    }
    &__reviews-right {
      flex-basis: 65%;
      background: #45a29e;
    }
  }
// THIS IS THE CLOSING CURLY BRACE
// FOR THE entry-point CLASS AND
// HOLDS EVERYTHING ELSE (CURRENTLY)
}