@use 'related';
@use 'ratings';
@use 'overview';

html, body {
  padding: 0;
  margin: auto;
  font-family: sans-serif;
  color: #1f2833;
}
#app {
  width: 90%;
  margin: 0 auto;
}

.entry-point {
  display: flex;
  flex-direction: column;

  .overview {
    height: 72px;
    background: #45a29e;
  }

  .related-products {
    height: min-content;
    background: #1f2833;
    color: #c5c6c7;
  }
}