@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.relatedTitle {
  font-size: 3rem;
  font-family: 'Open Sans';
  font-weight: 300;
}

.RelatedBox {
  display: flex;
}

.relatedList {
  display: flex;
  width: 100vw;
}

.relatedCard {
  display: inline-block;
  width: 25%;
  font-family: 'Open Sans';
  font-weight: 300;
}